name: Python CI

on:
  push:
    branches:
      - feature/first-load
  workflow_dispatch: # Manual trigger
    inputs:
      also-release:
        description: 'Run RELEASE if this attribute is `true`'     
        required: true
        default: 'false'

env:
  TERM: screen-256color

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ 3.10 ]
        os: [ macos-latest ]
        # os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2
      - name:  Install project
        shell: bash -l {0}
        run:   |
               ls -altr
               echo $(pwd)
      # - name: copy readme to package folder
      #   run: ls -altr && echo aaaaaaaaaaaaaaaaaaaaaaaaaaa
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version:       ${{ matrix.python-version }}
          mamba-version:        "*"
          channels:             conda-forge,bioconda,defaults
          channel-priority:     strict
          # environment-file:     environment.yaml
          auto-update-conda:    true
      - name:  Install project
        shell: bash -l {0}
        run:   |
               conda install python=${{ matrix.python-version }}
               ls -altr
      # - name:  Install project
      #   shell: bash -l {0}
      #   run:   |
      #          conda install python=${{ matrix.python-version }}
      #          just install
      # - name:  Check formatting
      #   shell: bash -l {0}
      #   run:   just check-fmt
      # - name:  Lint
      #   shell: bash -l {0}
      #   run:   just lint
