name: Python CI

on: push
  # workflow_dispatch: # Manual trigger
  #   inputs:
  #     also-release:
  #       description: 'Run RELEASE if this attribute is `true`'     
  #       required: true
  #       default: 'false'

env:
  TERM: screen-256color

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.10" ]
        os: [ macos-latest ]
        # os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v2
        env:
          # Increase this value to reset cache if environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('environment.yml') }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: fieldctl
          python-version: ${{ matrix.python-version }}
          channel-priority: strict
          environment-file: environment-caching.yml
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name:  Build CLI
        shell: bash -l {0}
        run:   |
          # conda env update -f environment.yml
          make bin-build
          ./dist/cli --help
          mv ./dist/cli ./dist/fieldctl
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/fieldctl
          
      # - name:  Install project
      #   shell: bash -l {0}
      #   run:   |
      #          echo "test2" > test.txt
      # - name: Release
      #   uses: softprops/action-gh-release@v1
      #   if: startsWith(github.ref, 'refs/tags/')
      #   with:
      #     files: test.txt
